@reference "../../app/globals.css";

@utility root {
  --mrt-base-background-color: var(--color-primary-300);
  --mrt-row-hover-background-color: var(--color-primary-200);
  --mrt-striped-row-background-color: var(--color-primary-200);
}
@utility filterInput {
  --mrt-filter-input-background-color: var(--color-primary-600);
}
